/* Chat rooms */

.new-room-button {
    border: 1px solid black;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.new-room-button:hover {
    cursor: pointer;
}

.rooms {
    background-color: lightgray;
    display: inline-block;
    width: 20%;
    height: 100vh;
    top: 0px;
    left: 0px;
    text-align: left;
    padding-left: 2px;
    float: left;
}

.header {


}

.room-names {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.room-names:hover {
    cursor: pointer;
}


/* Chat room */

.chatroom {
  display: inline-block;
  position: fixed;
  border: 1px;
  width: 80%;
  height: 90vh;
  background-color: lightblue;
  overflow: scroll;
}

.current-room{

}

.messages{
  display: flex;
  font-family: sans-serif;
  font-size: 12px;
}

.messages .username {
  font-weight: bold;
  font-size: 12px;
}

.messages .timestamp {
  font-style: italic;
}

.messages .user-message {
  display: inline-block;
}

.new-message {
  height: 10vh;
  width: 90vw;
  position: fixed;
  bottom: 0px;
  z-index: 1;
}

.message-input {
  width: 83%;
}
